[submodule "02_randomizer/7/Voldemort_Cartegni-A_Guan-T"]
	path = 02_randomizer/7/Voldemort_Cartegni-A_Guan-T
	url = https://github.com/TerryMinal/Voldemort.git
[submodule "AABB-CCDD_Abbas-A_Berri-B"]
	path = 02_randomizer/7/AABB-CCDD_Abbas-A_Berri-B
	url = https://github.com/Watabaws/AABB-CCDD-.git
[submodule "02_randomizer/7/KadirJ-ShifrinaD"]
	path = 02_randomizer/7/KadirJ-ShifrinaD
	url = https://github.com/dariashifrina/pet.git
[submodule "02_randomizer/7/RoktimA-RuvinshteynM"]
	path = 02_randomizer/7/RoktimA-RuvinshteynM
	url = https://github.com/ArifRoktim/turbo-octo-lamp.git

[submodule "02_randomizer/8/Dyrland-WeaverJ"]
	path = 02_randomizer/8/Dyrland-WeaverJ
	url = https://github.com/jonalf/pd8-demo.git
[submodule "02_randomizer/8/WooJ-ZhengH"]
	path = 02_randomizer/8/WooJ-ZhengH
	url = https://github.com/JackieW001/MochiIceCream.git
[submodule "02_randomizer/7/LCSoft_Liu-Y_Smith-Salzberg-C"]
	path = 02_randomizer/7/LCSoft_Liu-Y_Smith-Salzberg-C
	url = https://github.com/csmithsalzberg/LCSoft.git
[submodule "02_randomizer/9/Dyrland-WeaverJ"]
	path = 02_randomizer/9/Dyrland-WeaverJ
	url = https://github.com/jonalf/pd9-demo.git
[submodule "02_randomizer/9/LinS-ChenK"]
	path = 02_randomizer/9/LinS-ChenK
	url = https://github.com/wertylop5/MKS21Q.git
[submodule "02_randomizer/9/LiK-ZaiaJ"]
	path = 02_randomizer/9/LiK-ZaiaJ
	url = https://github.com/Kli16/turbo-goggles.git
[submodule "02_randomizer/9/ElsharawyM-JonesR"]
	path = 02_randomizer/9/ElsharawyM-JonesR
	url = https://github.com/Razorflame3912/Classes.git
[submodule "02_randomizer/9/KorsunM-NgM"]
	path = 02_randomizer/9/KorsunM-NgM
	url = https://github.com/MarcusNg/softdev_HW2.git
[submodule "02_randomizer/9/SmithJ-MahdiI"]
	path = 02_randomizer/9/SmithJ-MahdiI
	url = https://github.com/JamesSmith1202/Assignment1.git
