<!DOCTYPE html>
<html>
  <head>
    <title>Cross the bridge</title>
  </head>
  <body>
    <h2>"STOP!<br>He who would cross the Bridge of Death<br>Must answer me<br>These questions three<br>Ere the other side he see."</h2>
    <h2>What is your...</h2>
    <form action = "/auth" method="get"> <!-- y u no post -->
      Name:<br>
      <input type="text" name="nombre"><br>
      Quest:<br>
      <input type="text" name="busqueda"><br>
      Favorite Color:<br>
      <input type="text" name="color"><br>
      <input type="submit" value="Answer the bridgekeeper">
    </form>
  </body>
</html>
